<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PharmacyManagement.CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PharmacyManagement.CSharp.Properties.Settings>
            <setting name="PHARMACY_DB_PATH" serializeAs="String">
                <value>D:\GitHub\anjumrizwi\pharmacy-management-master\pharmacy-management-master\insider\pharmacy management\pharm.mdb</value>
            </setting>
        </PharmacyManagement.CSharp.Properties.Settings>
    </applicationSettings>
</configuration>